@using Restaurant.ViewModels.Models.Reservation;

@model AddReservationInfoViewModel

@{
    ViewBag.Title = "Add Reservation";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="Add" method="post">
            <div class="mb-3">
                <label asp-for="@Model.FirstName" class="form-label">First Name</label>
                <input asp-for="@Model.FirstName" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.LastName" class="form-label">Last Name</label>
                <input asp-for="@Model.LastName" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.LastName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Phone" class="form-label">Phone</label>
                <textarea asp-for="@Model.Phone" class="form-control" aria-required="true" rows="5"></textarea>
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Hour" class="form-label">When you want to arrive?</label>
                <input asp-for="@Model.Hour" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Hour" class="text-danger"></span>
            </div>
            
            <div class="mb-3">
                <label asp-for="@Model.Persons" class="form-label">For how many persons?</label>
                <input asp-for="@Model.Persons" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Persons" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Date" class="form-label">Date</label>
                <input asp-for="@Model.Date" class="form-control" aria-required="true" type="date" min="2023-07-01" />
                <span asp-validation-for="@Model.Date" class="text-danger"></span>
            </div>


            
            <div class="mb-3">
                <input class="btn btn-primary" type="submit" value="Add" />
            </div>


        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}