@using Restaurant.ViewModels.Models.Reservation;


@model IEnumerable<AllReservationsViewModel>
@{
	ViewBag.Title = "All Reservation";
}

<h2 class="text-center">@ViewBag.Title</h2>


<div class="text-center row">
	@foreach (var reservation in Model)
	{
		<div>
			<h5 class="card-title mt-1">First name: @reservation.FirstName</h5>
			<p class="mb-0">Last name: @reservation.LastName</p>
			<p class="mb-0">Phone number: @reservation.Phone</p>
			<p class="mb-0">Hour of the reservation: @reservation.Hour</p>
			<p class="mb-0">Number of table: @reservation.TableNumber</p>
			<p class="mb-0">Expected persons to come: @reservation.Persons</p>
		</div>

		<form class="input-group-sm" asp-controller="Reservation" asp-action="Delete" asp-route-id="@reservation.Id">
			<input type="submit" value="Delete" class="fs-6 btn btn-success mb-3 p-2" />
		</form>	
	}
</div>
