@using Restaurant.ViewModels.Order;

@model AddOrderViewModel



<h1>Add Order</h1>

<form asp-controller="Order" asp-action="Add" method="post">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" required>
    </div>

    <div class="form-group">
        <label for="phone">Phone:</label>
        <input type="text" class="form-control" id="phone" name="phone" required>
    </div>

    <div class="form-group">
        <label for="address">Address:</label>
        <input type="text" class="form-control" id="address" name="address" required>
    </div>

    <h2>Order Items:</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var dish in Model.DishesOrdered)
            {
                <tr>
                    <td><img src="@dish.Dish.ImageUrl" alt="@dish.Dish.Name" width="50" height="50"></td>
                    <td>@dish.Dish.Name</td>
                    <td>@dish.Dish.Price</td>
                    <td>@dish.Quantity</td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Place Order</button>
</form>

